.side-left {
    background-color: blue;
    background-image: url('../img/IMG_20190910_093551.jpg');
    background-size: cover;
    /* right: -1px; */
    /* height: 500px; */
    width: 820px;
    z-index: -1;
}

.sp {
    padding-top: 8rem !important;
}

input[type='text'],
input[type='password'] {
    background-color: rgb(238, 238, 238) !important;
    border-color: rgb(238, 238, 238) !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    padding-bottom: 10px;
}

input[type='password'] {
    text-transform: none !important;
}

input:focus {
    box-shadow: none !important;
}

input::placeholder {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

button:hover {
    border: solid 1px #0d6efd !important;
    background-color: white !important;
    color: #0d6efd !important;
}

button:focus {
    border: solid 1px white !important;
    background-color: #0d6efd !important;
    color: white !important;
    box-shadow: none !important;
}